{% extends "__base.html" %}

{% block content %}
    <div class="row">
						<div class="12u">
							<h2>Witaj w generatorze galerii!</h2>
							<p>Stwórz swoją galerię!</p>
						</div>

					</div>
                    <div class="row">
                        <div class="12u">
							<ul>
                                <li><a href="#" class="button big icon fa-arrow-circle-right">Stwórz nową galerię</a></li>
								<li><a href="#" class="button big icon fa-arrow-circle-right">Lista galerii</a></li>
								<li><a href="#" class="button alt big icon fa-question-circle">O nas</a></li>
							</ul>
						</div>
                    </div>
{% endblock %}