{% extends "__base.html" %}

{% block content %}
    <div class="row">
		<h3>Autorzy:</h3>
		<br>
		<ul>
			<li><h3>Wojciech Kocik</h3></li>
			<li><h3>Łukasz Kosiorowski</h3></li>
			<li><h3>Bartosz Talaga</h3></li>
		</ul>
	</div>
{% endblock %}