/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		background-color: #f0f0f0;
	}

	/* Image */

		.image
		{
		}
		
			.image img
			{
				position: relative;
				-ms-behavior: url('css/ie/PIE.htc');
			}
	
	/* Button */

		input[type="button"],
		input[type="submit"],
		input[type="reset"],
		.button
		{
			position: relative;
			-ms-behavior: url('css/ie/PIE.htc');
		}

	/* Box */

		.box
		{
			position: relative;
			-ms-behavior: url('css/ie/PIE.htc');
		}

/*********************************************************************************/
/* Widgets                                                                       */
/*********************************************************************************/

	.widget
	{
	}

		.widget.contact
		{
		}
		
			.widget.contact ul
			{
			}
			
				.widget.contact ul li
				{
				}

					.widget.contact ul li a
					{
						position: relative;
						-ms-behavior: url('css/ie/PIE.htc');
					}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
	}

		#logo h1
		{
			position: relative;
			-ms-behavior: url('css/ie/PIE.htc');
		}
						
/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
	}
	
		#nav ul
		{
		}
			
			#nav ul li
			{
			}

				#nav ul li a,
				#nav ul li span
				{
					position: relative;
					-ms-behavior: url('css/ie/PIE.htc');
				}
				
	.dropotron
	{
		border: solid 1px #eee;
		box-shadow: none !important;
		-ms-behavior: url('css/ie/PIE.htc');
	}
	
		.dropotron.level-0
		{
			box-shadow: none !important;
		}
		
			.dropotron.level-0:before
			{
				display: none;
			}