<!DOCTYPE HTML>
<html>
<head>
    <title>Generator galerii</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <!--[if lte IE 8]><script src="{{ STATIC_URL }}css/ie/html5shiv.js"></script><![endif]-->
    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.dropotron.min.js"></script>
    <script src="{{ STATIC_URL }}js/skel.min.js"></script>
    <script src="{{ STATIC_URL }}js/skel-layers.min.js"></script>
    <script src="{{ STATIC_URL }}js/init.js"></script>
    <noscript>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/skel.css"/>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css"/>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style-desktop.css"/>
    </noscript>
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}css/ie/v8.css" /><![endif]-->
</head>
<body class="homepage">

<!-- Header -->
<div id="header-wrapper">
    <header id="header" class="container">

        <!-- Logo -->
        <div id="logo">
            <h1><a href="{{ page.get_absolute_url }}/index">Generator galerii</a></h1>
        </div>

        <nav id="nav">
            {% include "navigationBar.html" %}
        </nav>

    </header>
</div>

<div id="banner-wrapper">
    <div id="banner" class="box container">
        {% block content %}
        {% endblock %}
    </div>
</div>


</div>

</body>
</html>