
    <ul>
        <li class="current"><a href="{{ page.get_absolute_url }}/index">Home</a></li>
        <li><a href="{{ page.get_absolute_url }}/gallery/make">Stwórz nową galerię</a></li>
        <li><a href="{{ page.get_absolute_url }}/gallery/list">Lista galerii</a></li>
        <li><a href="{{ page.get_absolute_url }}/info">O nas</a></li>
    </ul>
