{% extends "__base.html" %}

{% block content %}
    <div class="row">
		<form enctype="multipart/form-data" action="{{ page.get_absolute_url }}/gallery/addPhotos" method="post">
    		<input type="file" name="myfiles" multiple>
			<input type="submit" value="Dodaj">
		</form>
	</div>
{% endblock %}