{% extends "__base.html" %}

{% block content %}
    <div class="row">
		lista wszystkich galerii:
        {% for name in  galleryList %}
        	<h1>{{ name }}</h1>
        {% endfor %}
	</div>
{% endblock %}