{% extends "__base.html" %}

{% block content %}
    <div class="row">
		<form action="{{ page.get_absolute_url }}/gallery/make" method="post">
			{% csrf_token %}
    		{{ form }}
			<input type="submit" value="Utwórz">
		</form>
	</div>
{% endblock %}

